.container-fluid{
  min-width: 800px;
  margin: 5px;
}

.star-list-left{
  padding-top: 20px;
  padding-right: 3px;
  border-right: 2px dashed #1abc9c; 
}

#refStar{

}

.star-list-top, .star-list-main{
  padding-left: 3px;
}

.star-list-top{
  padding: 0 20px;
}

.star-list-main{
}


#star-light-curve-show{
  width: 100%;
  height: 630px;
  margin-top: 10px
}

#star-light-curve-title{
  width: 100%;  
  height: 20px; 
  text-align:center;
}

#star-light-curve{
  width: 100%; 
  height: 300px;
}

#star-light-curve2{
  width: 100%; 
  height: 300px;
}

#star-classify{
  margin: 0 auto;
  text-align: center;
}

#star-classify input{
  font-size: 14px;
  margin: 0 5px;
}

/*flot曲线用*/
#tooltip{ 
  position: absolute;
  display: none;
  border: 1px solid #fdd;
  padding: 2px;
  background-color: #fee;
  opacity: 0.80;
  font-size: 14px;
  height: 30px;
  color: #000;
}
