<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.password">gdb%980</property>
    <property name="hibernate.connection.url">jdbc:postgresql://10.36.1.154:5432/gwac2</property>
    <property name="hibernate.connection.username">gwac</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <mapping class="com.gwac.model.CatfileClassify"/>
    <mapping class="com.gwac.model.CrossmatchClassify"/>
    <mapping class="com.gwac.model.StarClassify"/>
    <mapping class="com.gwac.model.StarType"/>
  </session-factory>
</hibernate-configuration>
